module.exports = {
    serverKey: "a93fa71840a9c02acbb647c91ec040053fdbf9a9acb0599d0ce47fba87215e0a",
    savePath: "./save",
    credentials: [{
        tag: '2PP',
        pass: ''
    },
    {
        name: 'abc',
        tag: '2PJ',
        pass: ''
    }],
    updateURL: "http://7166046b142482e67b30-2a63f4436c967aa7d355061bd0d924a1.r65.cf1.rackcdn.com",
    contentURL: "https://game-assets.clashroyaleapp.com"
}
